@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


body {
    margin: 0;
}

.centre-wrapper {
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

.box-exp {
    width: 60%;
    padding: 4px;
}

.textexp {
    display: block;
    height: 2rem;
    text-align: center;
}

#res {
    font-size: 2rem;
    animation: fadeIn 0.5s ease-in-out;
}

.animate-res {
    animation: fadeIn 0.5s ease-in-out;
}

.input-text {
    width: 100%;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.6px solid rgb(232, 232, 232);
    transition: border-bottom ease 0.5s;
}

.input-text:focus {
    border: none;
    outline: none;
    border-bottom: 0.6px solid rgb(161, 161, 161);
}

.input-text::placeholder {
    font-size: 1.6rem;
    transition: font-size ease 0.4s;
}

.input-text:focus::placeholder {
    font-size: 1.2rem;
}
